.thumbnail {
  width: 100%;
}

.profile-picture-container {
  height: 36px;
  border-radius: 18px;
  display: inline-block;
  position: relative;
  cursor: pointer;
}

.profile-picture-container .channel-tooltip {
  position: absolute;
  padding: 10px 18px 13px 13px;
  background-color: white;
  bottom: -90px;
  box-shadow: 0 0 5px 3px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  opacity: 0;
  pointer-events: none;
  transition: opacity 0.15s;

  display: flex;
  align-items: center;
  justify-content: space-evenly;
  z-index: 3;
}

.profile-picture-container:hover .channel-tooltip {
  opacity: 1;
}

.profile-pic-large {
  width: 60px;
  border-radius: 30px;
  margin-right: 10px;
}

.channel-info {
  font-family: Roboto, Arial;
}

.channel-info .channel-name-large {
  font-weight: 600;
  margin-bottom: 5px;
  white-space: nowrap;
}

.channel-info .subscribers {
  color: rgb(43, 43, 43);
  white-space: nowrap;
}

.video-title {
  font-weight: 500;
  font-size: 14px;
  margin-top: 0;
  margin-bottom: 10px;
  line-height: 20px;
}

.video-author, 
.video-stats {
  font-size: 13px;
  color: rgb(96, 96, 96);
}

.video-author {
  margin-bottom: 4px;
}

.video-info-grid {
  display: grid;
  grid-template-columns: 50px 1fr;
}

.profile-picture {
  width: 36px;
  border-radius: 40px;
}

.thumbnail-row {
  margin-bottom: 10px;
  position: relative;
}

.video-grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  column-gap: 15px;
  row-gap: 40px;
}

@media (max-width: 750px) {
  .video-grid {
    grid-template-columns: 1fr 1fr;
  }
}

@media (min-width: 751px) and (max-width: 999px) {
  .video-grid {
    grid-template-columns: 1fr 1fr 1fr;
  }
  
  .video-author {
    font-size: 13px;
  }

  .video-stats {
    font-size: 13px;
  }

  .video-title {
    font-size: 14px;
    line-height: 20px;
  }
}

@media (min-width: 1000px) {
  .video-grid {
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }

  .video-author {
    font-size: 14px;
  }

  .video-stats {
    font-size: 14px;
  }

  .video-title {
    font-size: 16px;
    line-height: 24px;
  }
}

.video-time {
  font-size: 12px;
  font-weight: 500;
  padding: 4px;
  background-color: black;
  color: white;
  position: absolute;
  right: 5px;
  bottom: 10px;
  border-radius: 3px;
}
